# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual Environment
.venv/
env/
venv/

# Qt
*.qrc
*.ui~
*.qrc~
*.pyuic

# Database credentials
.env

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
